extends indexlayout
block selfCSSfile
    link(rel='stylesheet', href='/stylesheets/index.css')
block selfJSfile
    script(type="text/javascript",src="/javascripts/func/index.js")
    //-script(type="text/javascript",src="http://api.map.baidu.com/api?v=2.0&ak=KN8ipINyWjl55TErrURM3gRu")
block statusBar
    nav#topbar.navbar.navbar-default.navbar-fixed-top(role=navigation)
        div#topbar-logo
        div#topbar-options
            div.nav-icon
            div.arrow
            div.menu
                div.menu-body
                    div
                        h4 去钓鱼
                        span 召集朋友
                        span 分享渔获
                        span 足迹
                div.menu-foot
                    span.btn#pin
                        span.glyphicon.glyphicon-pushpin 固定到左侧
                div.menu-uparrow
        div#topbar-search
            div.input-group
                input.form-control(type="text")
                span#searchBtn.input-group.input-group-btn
                    button.btn.btn-default
                        span.glyphicon.glyphicon-search
        div#topbar-user
            div#signin-btn.topbar-btn
                i.icon-login
                |登陆
            div#signup-btn.topbar-btn
                i.icon-pencil
                |注册
            div#topbar-userinfo-upload.topbar-btn
                i.icon-plus(title="分享渔获")
            div#topbar-userinfo-avatar.topbar-btn
                img(src="/images/default.jpg")
                div.arrow
                ul#topbar-userinfo-menu
                    li
                        a 我的足迹
                            i.icon-camera
                    li
                        a 帐号设置
                            i.icon-cog
                    li
                        a 退出登录
                            i.icon-logout
    div#sidebar.left-sidebar
        div.nav
            a(onclick="javascript:void(0)" title="解除锁定")
                i.icon-pin
        div.nav
            a(onclick="javascript:void(0)" data-title="召集朋友")
                i.icon-flag
        div.nav
            a(onclick="javascript:void(0)" data-title="分享渔获")
                i.icon-heart
        div.nav
            a(onclick="javascript:void(0)" data-title="足迹")
                i.icon-picture
    div#signin-panel.panel
        div.panel-sheet
            div.panel-head
                h2 登陆
            div.panel-body
                div.panel-body-left
                    h5 使用合作网站账号登陆
                div.panel-body-right.form-horizontal
                    h5 使用注册邮箱登陆
                    div.form-group
                        label.col-sm-3.control-label 邮箱
                        div.col-sm-6.clearLeftPadding
                            input.email.form-control(type="email",name="email",placeholder="请输入邮箱")
                        div.error-email.col-sm-3.clearLeftPadding.error-msg
                    div.form-group
                        label.col-sm-3.control-label 密码
                        div.col-sm-6.clearLeftPadding
                            input.password.form-control(type="password",name="password",placeholder="请输入密码")
                        div.error-password.col-sm-3.clearLeftPadding.error-msg
                    div.form-group
                        div.col-sm-6.col-sm-offset-3.clearLeftPadding
                            button#doLogin.btn.btn-default(type="submit") 登陆
                div.clearfix
            a.closeBtn

    div#signup-panel.panel
        div.panel-sheet
            div.panel-head
                h2 注册
            div.panel-body
                div.panel-body-left
                    h5 使用合作网站账号注册
                div.panel-body-right.form-horizontal
                    h5 使用邮箱注册
                    div.form-group
                        label.col-sm-3.control-label 称号
                        div.col-sm-6.clearLeftPadding
                            input.form-control(name="username",placeholder="取个名字")
                        div.error-username.col-sm-3.clearLeftPadding.error-msg
                    div.form-group
                        label.col-sm-3.control-label 邮箱
                        div.col-sm-6.clearLeftPadding
                            input.email.form-control(type="email",name="email",placeholder="注册邮箱")
                        div.error-email.col-sm-3.clearLeftPadding.error-msg
                    div.form-group
                        label.col-sm-3.control-label 密码
                        div.col-sm-6.clearLeftPadding
                            input.password.form-control(type="password",name="password",placeholder="选择密码")
                        div.error-password.col-sm-3.clearLeftPadding.error-msg
                    div.form-group
                        label.col-sm-3.control-label 确认密码
                        div.col-sm-6.clearLeftPadding
                            input.password2.form-control(type="password",name="password2",placeholder="确认密码")
                        div.error-password2.col-sm-3.clearLeftPadding.error-msg
                    div.form-group
                        div.col-sm-6.col-sm-offset-3.clearLeftPadding
                            button#doRegister.btn.btn-default(type="submit") 注册
                div.clearfix
            a.closeBtn
    div.bodyMask
block itemContent
    div.row
        div#itemContentList.col-md-12
            each item, i in itemList
                if i%4==0
                    div.row
                if i<8
                    div.col-md-3.itemContent
                        div.item
                            div.card
                                div.photo
                                    img(src="#{itemList[i].fishings[0].photoUrl}")
                                    p.abstract
                                        |#{itemList[i].fishings[0].abstract}
                                div.des
                                    div.fishtool
                                        h4 鱼竿
                                        p #{itemList[i].fishings[0].fishTools.fishingRod}
                                    div.fishtool
                                        h4 鱼饵
                                        p #{itemList[i].fishings[0].fishTools.bait}
                                    div.fishtool
                                        h4 鱼钩
                                        p #{itemList[i].fishings[0].fishTools.fishhook}
                        div.itemInfo
                            a.avatar
                                img(src="/images/header.jpg")
                            span.userName #{itemList[i].username}
                            span.mapBtn 查看地图
//-
    script(type="text/javascript")
        var map = new BMap.Map("bdMap");            // 创建Map实例
        var point = new BMap.Point(116.404, 39.915); // 创建点坐标
        map.centerAndZoom(point,15);                 // 初始化地图,设置中心点坐标和地图级别。
        map.enableScrollWheelZoom();                 //启用滚轮放大缩小

