extends layout/layout
append resources
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(type="text/javascript",src="/javascripts/func/index.js")
block content
    div#item-list
        -var groups = Math.ceil(itemList.length / 4)
        -for(var j=0; j<groups; j++){
        div.rows
            -for(var i=j*4; i<j*4+4&&i<8; i++){
            div.item-content
                div.item
                    div.card
                        div.front
                            img(src="#{itemList[i].photoUrl}")
                            p.abstract
                                |#{itemList[i].abstract}
                        div.back
                            div
                                h4 鱼竿
                                p #{itemList[i].fishTools.fishingRod}
                            div
                                h4 鱼饵
                                p #{itemList[i].fishTools.bait}
                            div
                                h4 鱼钩
                                p #{itemList[i].fishTools.fishhook}
                div.itemInfo
                    a.avatar
                        img(src="/images/header.jpg")
                    span.userName #{itemList[i].user.username}
                    span.mapBtn 更多
            -}
         -}
